# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_CORNEA_LEFT
	def_bool $(shields_list_contains,cornea_left)

config SHIELD_CORNEA_RIGHT
	def_bool $(shields_list_contains,cornea_right)
